body {
    margin: 0;
}

/* -=-=-=-=-=-=- Header -=-=-=-=-=-=- */

header {
    height: 120px;
    background-color:#A8E6CF;

    display: flex;

    justify-content: space-between;

    align-items: center;

    position: fixed;

    width: 100%;
}

.logo {
    height: 120px;
    width: 120px;
}

.search {
    display: flex;
    flex-basis: 50%;
}

.search-bar {
    height: 30px;
    flex-basis: 75%;

    padding: 5px 15px;

    border-radius: 8px;

    border: none;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search > button {
    flex-basis: 25%;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    border: none;

    background-color: rgb(0, 218, 0);

    color: white;
}

.header-options {
    display: flex;

    margin-right: 20px;

    gap: 10px;
}

.header-options svg {
    width: 40px;
    height: 40px;

    color: black;
}


/* -=-=-=-=-=-=- Footer -=-=-=-=-=-=- */


footer {
    display: grid;

    grid-template-columns: 2fr repeat(4, 1fr);

    column-gap: 40px;

    padding: 50px;
    padding-left: 8%;
    background-color: rgb(106, 182, 47);
}

.footer-container {
    color: white;
}

.footer-container > p {
    color: rgb(213, 213, 213);
}

.footer-info {
    height: 100px;
    background-color: green;

    grid-column: 1/6;   
}