main {
    padding: 30px;

    background-color: rgb(240, 240, 240);

    padding-top: 140px;
}

.container {
    display: flex;

    border-radius: 15px;

    background-color: white;
}

.image-container {
    flex-basis: 45%;
}

.image-container img {
    width: 100%;

    border-radius: 15px;
}

.info-container {
    font-family: Arial, Helvetica, sans-serif;

    flex-basis: 55%;

    padding: 5% 30px; 
}

.product-id {
    text-align: right;

    font-size: smaller;
    color: grey;
}

.in-stock {
    padding-top: 10%;

    color: green;
}

.price {
    font-size: 45px;
    font-weight: 900;

    padding-top: 10%;

    color: rgb(239, 41, 41);
}

.details {
    background-color: white;

    border-radius: 15px;

    padding: 30px;
    margin-top: 20px;
}

.details hr {
    border: 1px solid rgb(214, 214, 214);
}

.characteristic {
    display: grid;

    grid-template-columns: 1fr 1fr;
}

.characteristic p {
    margin: 5px;
}